body {
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-areas: "leftSide rightSide";
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}

#titleDisplay {
	display: flex;
	background-color: rgba(0, 0, 0, 0.432);
	width: 640px;
	justify-content: center;
}

#title {
	color: #b2baf2;
	margin-left: 15px;
	font-size: 100px;
	font-weight: 1000;
	letter-spacing: 20px;
}

#leftSide {
	background-image: url(images/uncategorized-11832-e1611673417901-1200x801.webp);
	background-color: grey;
	background-blend-mode: multiply;
	background-size: cover;
	grid-area: leftSide;
	display: flex;
	align-items: center;
	justify-content: center;
}

#rightSide {
	grid-area: rightSide;
	color: #b2baf2;
	background-color: black;
	padding-left: 5%;
	padding-right: 40%;
	padding-top: 12.5%;
}

#signUpForm {
	margin-top: 50px;
}

fieldset {
	display: flex;
}

fieldset > div ~ div {
	margin-left: 8%;
}

input {
	border-radius: 6px;
	background-color: #b2baf2;
}

input:invalid {
	color: red;
}

a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
